@charset "utf-8";
/* CSS Document */
body{
	text-align: center;
}
h2{
	text-align: center;
}
img{
	display: block;
    margin-left: auto;
    margin-right: auto;
    }
ul{
	background-color: lightgray;
	list-style-type: none;
	margin: 0;
	padding: 10px;
	text-align: left;
		
    }
.list{
	display: inline;
    }
.links{
	color: black;
	padding: 10px; 
	background-color: lightgray;
	text-decoration: none;
}
